@import '../../variables.scss';

.region-btn {
  @extend %btn-secondary;
  font-weight: 600;
  font-size: .8rem;
  text-align: center;
  min-width: 8rem;
  margin: .5rem;

  &--selected {
    border-color: $terracotta;
    background-color: $terracotta;
    
    &:focus, &:hover, &:active  {
      border-color: $terracotta;
      background-color: $terracotta;
    }
  }
}