@import '../../variables.scss';

.warning {
  &__wrapper {
    @extend %col-nowrap;
    @include md {
      flex-direction: row;
    }
    justify-content: center;
    align-items: center;
  }

  &__description-wrapper {
    @extend %col-nowrap;
    flex: 1 1 auto;
  }

  &__text {
    @extend %h5;
    line-height: 1.15rem;
    padding: .5rem 0;
  }
  
  &__title {
    @extend %h3;
    font-weight: 600;
  }

  &__buttons-wrapper {
    @extend %row-nowrap;
    flex: 1 1 auto;
    margin-left: .5rem;
  }

  &__accept-btn {
    @extend %btn-primary;
    margin: .5rem;
  }

  &__cancel-btn {
    @extend %btn-secondary;
    margin: .5rem;
  }
}