@import '../../variables.scss';

.voting {
  @extend %col-nowrap;
  flex: 1 1 auto;
  align-items: center;

  &__headline {
    @extend %h1;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
  }

  &__description {
    @extend %h3;
    opacity: 0.8;
  }

  &__title {
    @extend %h1;
    font-weight: 600;
    opacity: 0.2;
  }

  &__region-btn-wrapper {
    @extend %row-nowrap;
    margin: 2rem;
  }

  &__players-wrapper {
    @extend %row-nowrap;
    margin: 2rem;
  }

}